.App {
  text-align: center;
  background-color: #FDF4E3;
  font-family: 'Itim', cursive;
}
* {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}
main{
  min-height: 100vh;
}

img{
  width: 100%;
}

/*Navigation bar*/

.navbar-brand{
  cursor:pointer;
  font-size: 28px;
}
.nav-item{
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  letter-spacing:.2px;
}

.bg-light{
  background: #FDF4E3 !important;
}

.navbar-toggler{
  border: none;
}
.navbar-toggler:focus{
  box-shadow: none;
}

.offcanvas{
  background: #FDF4E3 !important;
}

.btn-light{
  background: #FDF4E3 !important;
}

.slick-slide > div{
  margin: 0 10px;
}

.slick-list{
  margin: 0 -10px;
}

/*Footer*/
.footer {
  margin-top: 44px;
  padding: 28px;
}


/*Home css*/
.description {
  margin-top: 10px;
}

.description>h1 {
  font-size: 64px;
  line-height: 77px;
  color: #6F5B3E;
}

.description>p {
  font-size: 20px;
  line-height: 28px;
}

.view {
  margin-top: 28px;
}

.recommend {
  box-sizing: border-box;
  padding: 10px;
  margin: 20px 20px;
}

.cooking {
  margin: 44px 28px;
}

.cocktail {
  margin: 44px 28px
}

.titles {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
}

.items {
  /* display: flex;
  flex-wrap: nowrap; */
  justify-content: center;
}

.card {
  text-align: center;
  width: 18rem;
  margin: 30px 8px;
}

.recommend .card {
  width: 100%;
  /* margin: 16px 24px; */
}

.list .card-body {
  padding: 16px 0px;
}

/*Item view*/
.itemContent{
  display: flex;
  flex-wrap: nowrap;
}
.headerImage{ 
  width: 500px;
}

@media only screen and (max-width: 600px) {

  /* Home Page */
  .recommend {
    display: none;
  }

  .cooking .titles {
    margin: 20px -4px;
    text-align: center;
    flex-direction: column;
  }

  .cooking .items {
    display: flex;
    flex-direction: column;
  }

  .cooking .card {
    width: 100%;
    margin: 4px 0px;
  }

  .cocktail .titles {
    margin: 20px -4px;
    text-align: center;
    flex-direction: column;
  }

  .cocktail .items {
    display: flex;
    flex-direction: column;
  }

  .cocktail .card {
    width: 100%;
    margin: 4px 0px;
  }

  /* Items List */

  .card {
    margin: 12px 20px;
  }

  /*Recipe view*/
  .itemContent{
    display: flex;
    flex-direction: column;
  }
  .headerImage{ 
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {

  /* Home Page */
  .recommend {
    display: none;
  }

  .col-7{
    width: unset !important;
  }
  .cooking .titles {
    margin: 20px -4px;
    text-align: center;
    flex-direction: column;
  }

  .cooking .items {
    display: flex;
    flex-direction: column;
  }

  .cooking .card {
    width: 100%;
    margin: 4px 0px;
    padding: 10px 10px;
  }

  .cocktail .titles {
    margin: 20px -4px;
    text-align: center;
    flex-direction: column;
  }

  .cocktail .items {
    display: flex;
    flex-direction: column;
  }

  .cocktail .card {
    width: 100%;
    margin: 4px 0px;
  }

  /*Recipe view*/

  .howTo{
    display: flex;
    flex-direction: column;
  }
}
