.App {
  text-align: center;
  background: #FDF4E3;
}
.footer{
  margin-top: 44px;
  padding: 40px;
  background-color: black;
}
* {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

/*Home css*/
.description{
  margin-top: 10px;
}
.description > h1{
  font-family: 'Itim', cursive;
  font-size: 64px;
  line-height: 77px;
  color: #6F5B3E;
}
.description > p{
  font-family: 'Itim', cursive;
  font-size: 20px;
  line-height: 28px;
}
.view{
  margin-top: 28px;  
}
.recommend{
  /* background: #FFFFFF; */
  /* border: 1px solid #6F5B3E; */
  box-sizing: border-box;
  padding: 10px;
  margin: 20px 20px;
}
.cooking{
  /* background: #FFFFFF; */
  /* border: 1px solid #6F5B3E; */
  text-align: left;
  margin: 44px 0px;
}
.cocktail{
  /* background: #FFFFFF; */
  /* border: 1px solid #6F5B3E; */
  text-align: left;
  margin: 44px 0px
}
.titles{
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
}
.items{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.card{
  text-align: center;
  width: 18rem;
  margin: 30px 20px;
}
.recommend .card{
  text-align: center;
  width: 18rem;
  margin: 16px 4px;
}

.list .card-body{
  padding: 16px 0px;
}

/* @media screen {
  
} */