.description{
    margin-top: 80px;
}
.description > h1{
    font-family: 'Itim', cursive;
    font-size: 64px;
    line-height: 77px;
    color: #41BDE4;
}
.description > p{
    font-family: 'Itim', cursive;
    font-size: 20px;
    line-height: 28px;
}
.view{
    margin-top: 40px;  
}
.recommend{
    border: 1px solid #000000;
    box-sizing: border-box;
    margin: 20px 10px;
}
.cooking{
    text-align: left;
    margin: 20px 0px;
}
.cooking >h3{
    margin: 20px 20px;
}
.cocktail{
    text-align: left;
    margin: 30px 0px
}
.cocktail > h3{
    margin: 20px 20px;
}
.items{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.card{
    text-align: center;
    width: 18rem;
    margin: 30px 20px;
}

.recommend .card{
    text-align: center;
    width: 18rem;
    margin: 16px 4px;
}